// 字体大小
$font-size: 28px !default;

$font-size-base: $font-size !default;

$font-size-xxs: 20px !default;
$font-size-xs: 22px !default;
$font-size-sm: 24px !default;
$font-size-md: 26px !default;
$font-size-lg: 30px !default;
$font-size-xl: 32px !default;
$font-size-xxl: 34px !default;

$font-size-title: $font-size !default;
$font-size-desc: $font-size-xs !default;

$font-size-panel-title: $font-size-xl !default;
